<div>
  greaar
  <button (click)="getName(collins)">My name</button>
  <br>
  KeyDown is starts after releasing the key shows data
  <br>
  <input type="text" (keyup)="myEvent('My Key up event')">
  <br>


  <input type="text" #box (keyup)="myEvent(box.value)">
  <br>
  With the enter
  <br>

  <input type="text" #box (keyup.enter)="myEvent(box.value)">
  <br>

  KeyDown is starts showing data whenever you press the key
  <br>
  <input type="text" #box (keydown)="myEvent(box.value)" ngModel="collins">
  <br>
  Using on blur event
  <br>

  Property binding can handle the disable attribute but the string interpolation cannot
  <br>
  <input type="text" #box (blur)="myEvent(box.value)" [disabled]="disableBtn" value={{collins}}>
  <br>
  <input type="text" #box (keyup.space)="myEvent(box.value)" disabled={{disableBtn}} [value]="collins">
  <br>
  <button (click)="enableBtn()">Enable Button</button>
  <br>
  Year: {{today.getFullYear() }}
  Date: {{today.getDate()}}
  Monthe {{today.getMonth()}}
  Day: {{today.getDay()}}
  Hours: {{today.getHours()}}
  Minutes: {{today.getMinutes()}}
  Seconds: {{today.getSeconds()}}

  <input type="text" #box>
  <br>
  <button (click)="getValue(box.value)">Save User</button>
  <br>
  <br>
  {{usersData}}
  {{user}}
  {{comments}}
  <input type="search" name="commentSearch" [(ngModel)]="commentSearch" >
  <table>
    <tr>
      <th>ID</th>
      <th>Comment</th>
      <th>PostID</th>
    </tr>
    <tr *ngFor="let comment of comments | commentTextFilter:commentSearch">
      <td>{{comment.id}}</td>
      <td>{{comment.body}}</td>
      <td>{{comment.postId}}</td>
    </tr>
  </table>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ab cumque aut esse nobis nisi aliquam velit. Quos accusamus culpa blanditiis nisi aliquam fugiat amet corrupti deserunt molestiae eveniet? Perspiciatis?


  {{hero}}
  <br>
  <button (click)="sendData()">Send data</button>
</div>
