<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui repellendus, obcaecati earum neque vel ad quas illo voluptas fugiat quis laudantium nisi sequi, amet voluptates deleniti labore sunt necessitatibus quidem!</p>
<button style="color: red; background-color:blue;">Red</button>
<button [style.color]="'red'" [style.background-color]="bgcolor">Green</button>
<button (click)="changeColor()">Change color</button>

<button [style.backgroundColor]="err?'red':'green'">Conditional Styling</button>
