<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui repellendus, obcaecati earum neque vel ad quas illo voluptas fugiat quis laudantium nisi sequi, amet voluptates deleniti labore sunt necessitatibus quidem!</p>
<button style="color: red; background-color:blue;">Red</button>
<button [style.color]="'red'" [style.background-color]="bgcolor">Green</button>
<button (click)="changeColor()">Change color</button>

<button class="btn btn-primary" [style.backgroundColor]="err?'red':'green'">Conditional Styling</button>
<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../images (1).jpeg" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../image.png" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../images.jpeg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
